<div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <h2>Book the outfit</h2>

  <%= simple_form_for [@outfit, @booking] do |f| %>
    <%= f.input :start_date, as: :string, required: false, input_html: { class: "datepicker", data: { dates: @booked_dates.to_json }} %>
    <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
</div>