<div class="container-footer">
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-logo">
      <%= image_tag "https://i.pinimg.com/originals/da/57/80/da5780f125af8ccbed7a84150e89fcad.png" %>
    </div>
    <div class="footer-copyright">
      <em>This footer is made with  <i class="fas fa-heart"></i>  by the best team of Le Wagon<em>
    </div>
  </div>
</div>
