// #AF5D42 // #89543A // 4A4A4A

.btn-ghost {
  color: white;
  border: 1px solid #AF5D42;
  background-color: #AF5D42;
  padding: 3px 20px;
  border-radius: 40px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-size: 15px;
  margin-right: 25px;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  background-color: #AF5D42;
  opacity: 0.7;
  font-weight: bold;
}

.btn-flat {
  color: white;
  padding: 5px 25px;
  border-radius: 40px;
  background: #9A938F;
  transition: 0.3s ease;
  font-weight: lighter;
  font-size: 15px;
  border: 1px solid #9A938F;
}

.btn-flat:hover {
  background: #9A938F;
  color: white;
  opacity: 0.8;
  font-weight: bolder;
  text-decoration: none;

}

.btn-gradient {
  color: #AF5D42;
  border: 1px solid #AF5D42;
  padding: 3px 20px;
  border-radius: 40px;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 15px;
  margin-right: 25px;

}

.btn-gradient:hover {
  color: #AF5D42;
  border: 3px solid #AF5D42;
  font-weight: bolder;
  text-decoration: none;
}
