#map.map-index {
  position: sticky;
  top: 70px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Catamaran', sans-serif;

}

.mapboxgl-popup-content h2 {
  text-align: center;
  font-family: 'Besley', serif;
  font-size: 20px;
}
